.container {
    background-color: rgb(0, 0, 43);
    color: white;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0 2rem;
}

.section-line {
    height: 5rem;
    width: auto;
}

.section-title {
    background-color: rgba(102, 1, 102, 0.4);
    background-image: linear-gradient(to right, rgba(102, 1, 102, 0.4) 0%, rgb(0, 0, 43) 100%);
    padding: 8pt 5pt 4pt 7pt;
    border-radius: 3pt;
}

.text-box {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10pt;
    color: black;
}

.table-ch {
    width: 100%;
    border-collapse: separate;
    /*border-spacing: 0.1rem;*/
    border-radius: 5px;
}

.table-ch th, td {
    border: 1px solid #3a0647;
    border-radius: 10px;
    padding: 5px;
}
.table-ch th:last-child {
    width: 70%;
}
.table-ch th {
    text-align: center;
    background-color: #3a0647;
    border-radius: 15px;
}

/*.table-ch th:last-child {
    border-right: 1px solid white;
    width: 70%;
    border-radius: 5px;
    border: 1px solid white;
}
.table-ch th {
    text-align: center;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    width: 40%;
    border-radius: 5px;
}
.table-ch td {
    border-radius: 5px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-top: none;
}
.table-ch td:last-child {
    border-right: 1px solid white;
}*/

img {
    width: 100%;
}
.img-twitter {
    width: auto;
    height: 3rem;
}
.icon-discord {
    width: 70%;
}

#ul-supervisor {
    list-style: none;
}

.btn-discord {
    background-color: rgb(88, 101, 243);
    border-radius: 3px;
    color: white;
    width: auto;
}

.btn-join {
    background-color: rgb(88, 101, 243);
    border-radius: 10px;
    height: 3rem;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    display: inline-block;
}

.header {
    color: rgb(238, 238, 238);
}
.header a {
    color: rgb(238, 238, 238);
}

/*スマホ*/
@media (max-width: 640.98px) {
    .container {
        padding: 0 0.5rem;
    }
}

/*PC*/
@media (min-width: 641px) {
    img {
        width: 70%;
    }
}
