<div class="content">
    <div >
        <div class="page-title section-title">
            <h1><strong>ようこそ、ナスの森へ🍆</strong></h1>
            最終更新日:2021年9月29日
        </div>
        <br />
        <div class="text">
            <h6>本ページでは、ナスの森での<a href="javascript:jump('rule');">ルール</a>、<a href="/discord">Discordの簡単な使い方</a>について説明します。<br /></h6>
            <br />

            ナスの森は、FX・株・仮想通貨などの投資をする人たちのためのコミュニティです。<br />
            <a href="https://discord.gg/t7jd6DrUSf" target="_blank" rel="noopener noreferrer">
            <u>ここ</u></a>から参加できます。<br />
            <br />
            <a href="https://discord.com/" target="_blank" rel="noopener noreferrer">Discord</a>のアカウントを作成すれば、誰でも無料で参加できます。<br />
            <br />
            主な活動は、環境認識・チャート分析・情報共有・手法勉強・雑談です。<br />
            チャットや、ボイスチャット(通話)を使用しています。<br />
            <br />
            2021年7月より開始したコミュニティですが、参加者は500人を超えています。(2021年9月27日現在)<br />
            初めて1ヶ月未満の初心者から、SNSやライブ配信で先出し・解説をしている上級者からまで幅広く参加しています。<br />
            <br />
            <br />
            ナスの森についての質問は、管理人 Nasu(<a href="https://twitter.com/nasuFX426" target="_blank" rel="noopener noreferrer">Twitter ＠nasuFX426</a>)へお問い合わせください。
        </div>
    </div>
</div>