<div class="content">
    <div>
        <div class="page-title section-title">
            <h1><strong>ナスの森 使い方🔰</strong></h1>
        </div>
        <br />
        <div class="text">
            <div class="cheat-box">
                <table class="table-cheat">
                    <tbody>
                        <tr>
                            <td>文字で投資の話をする</td>
                            <td>
                                チャット部屋の<strong>#フリートーク投資</strong>チャンネルを使用します
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <ol>
                <li>
                    <h1>文字で投資の話をする</h1>
                    <br />
                    チャット部屋の<strong>#フリートーク投資</strong>チャンネルを使用します。
                    <br />
                    <br />
                </li>
                <li>
                    文字で雑談をする(チャット)
                    <br />
                    チャット部屋の<strong>#雑談</strong>チャンネルを使用します。
                    <br />
                    ※文字での雑談よりも、ボイチャで雑談をすることの方が多いです
                    <br />
                    <br />
                </li>
                <li>
                    音声で雑談をする(ボイチャ・聞き専OK!)
                    <br />
                    ボイチャ部屋の<strong>🔈雑談部屋</strong>チャンネルに参加します。<br />
                    聞き専の方は、カテゴリー <u>ボイチャ部屋</u>の<strong>#ボイチャ専用チャット</strong>で文字にて会話に参加します。<br />
                    話せる方も<strong>#ボイチャ専用チャット</strong>を見るようにしましょう！
                    <br />
                    <br />
                </li>
                <li>
                    分析を見る・投稿する
                    <br />
                    <strong>分析カテゴリー</strong>に通貨ごとにチャンネルを用意しています。
                    いろんな目線が見られるので分析を投稿してくれるととても嬉しいです！ROM専もOK!
                    <br />
                    <br />
                </li>
            </ol>
        </div>
    </div>
</div>