@page "/discord";


<div class="container">
    <div class="main">
        <div class="content">
            <div>
                <div class="section-title">
                    <h1><strong>Discordの使い方</strong></h1>
                </div>
                <br />
                <div class="text">
                    Discordの簡単な使い方について説明します。<br />
                    画像はiPhoneのキャプチャとなります。PCの場合画面が異なる場合がありますがご了承ください。<br />
                    <br />
                    <br />
                    <h4><strong>・基本編</strong></h4>
                    <ol>
                        <li>
                            ナスの森(Discordのサーバー）に参加する<br />
                            ※Discordのアカウントを持っていない方は
                            <a href="https://support.discord.com/hc/ja/articles/360033931551-%E3%81%AF%E3%81%98%E3%82%81%E3%81%AB" target="_blank" rel="noopener noreferrer">
                                <u>Discord公式サイト</u>
                            </a>
                            を参照してアカウントを作成してください。
                            <br />
                            <a href="https://discord.gg/t7jd6DrUSf" target="_blank" rel="noopener noreferrer"><u>ココ</u></a>
                            をクリックし、<span class="btn-discord">招待を受ける</span>を押すとナスの森に参加できます。<br />
                            <img src="/img/join.png" alt="招待画像" />
                            <br />
                            <br />
                            <br />
                        </li>
                        <li>
                            まずは挨拶をしましょう！<br />
                            ナスの森に参加すると、<strong>#入門口🚪</strong>チャンネルに参加を知らせる自動メッセージが流れます。<br />
                            <strong>#入門口🚪</strong>で挨拶すると、住民が歓迎してくれます！<br />
                            <img src="/img/entrance.png" alt="入門口" />
                            <br />
                            <br />
                            <br />
                        </li>
                        <li>
                            雑談に参加してみましょう！<br />
                            <strong>#雑談</strong>チャンネルを選択し、下のボックスからメッセージを送信すると雑談に参加できます。<br />
                            <img src="/img/chat.png" alt="雑談" />
                            <br />
                            <br />
                            <br />
                        </li>
                        <li>
                            ボイチャに参加してみましょう！<br />
                            マイクがない方・話せない方も聞き専で参加できます。<br />
                            <br />
                            ボイチャが開催されているときは、以下のようにボイチャ部屋にアイコンが表示されています。<br />
                            初めての方は開催されているときに参加してみましょう。！もちろん自分で開始してもOKです！<br />
                            <br />
                            <img src="/img/voice-mem.png" alt="ボイチャ" /><br />
                            <br />
                            <br />
                            <br />
                            <strong>🔈雑談部屋(ボイスチャット)</strong>チャンネルを選択し、<span class="btn-discord">ボイスチャンネルに参加</span>を押すと会話に参加できます。<br />
                            <img src="/img/voice.png" alt="ボイチャ" />
                            <br />
                            <br />

                            <br />
                            <table id="table-icon-voice">
                                <tbody>
                                    <tr>
                                        <td><img class="icon-discord" src="/img/voice-bar-mike.png" alt="マイク" /></td>
                                        <td>マイクをミュート(オフ)にできます。聞き専の方は押してください</td>
                                    </tr>
                                    <tr>
                                        <td><img class="icon-discord" src="/img/voice-bar-video.png" alt="ビデオ" /></td>
                                        <td>ビデオ通話に切り替わります。スマホの場合インカメが起動してしまうので気をつけてください</td>
                                    </tr>
                                    <tr>
                                        <td><img class="icon-discord" src="/img/voice-bar-share.png" alt="共有" /></td>
                                        <td>画面共有を開始します</td>
                                    </tr>
                                    <tr>
                                        <td><img class="icon-discord" src="/img/voice-bar-speaker.png" alt="スピーカー" /></td>
                                        <td>スピーカーを切り替えます</td>
                                    </tr>
                                    <tr>
                                        <td><img class="icon-discord" src="/img/voice-bar-dis.png" alt="切断" /></td>
                                        <td>ボイチャを切断します</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />
                            <br />
                            <div class="text-box">
                                聞き専の方は、会話を聞きながら、<strong>#ボイチャ専用チャット</strong>にメッセージを送信しましょう！<br />
                                マイクをオンにして話せる方も、<strong>#ボイチャ専用チャット</strong>を見て聞き専の方とやり取りをしてください。<br />
                            </div>
                            <br />
                            <br />
                            <span class="oi oi-musical-note"></span> <strong>音量調整方法</strong><br />
                            ボイチャで音量が大きい人・小さい人がいます。<br/>
                            たとえば、<strong>ぷーたろーbot</strong>というbotが爆音で音楽を流している場合があります。<br />
                            <br />

                            <br />
                            <br />
                        </li>
                    </ol>

                    <br />
                    <br />
                </div>
            </div>
        </div>

    </div>
</div>