@page "/"

<div class="container">
    <div id="top" class="main">
        <!--ナスの森について-->
        <div id="about" class="about-wrapper">
            <About />
        </div>
        <div class="section-line"></div>

        <!--参加方法-->
        <div id="join" class="join-wrapper">
            <Join />
        </div>
        <div class="section-line"></div>

        <!--ルール-->
        <div id="rule" class="rule-wrapper">
            <Rule />
        </div>
        <div class="section-line"></div>

        <!--管理人紹介-->
        <div id="supervisor" class="supervisor-wrapper">
            <Supervisor />
        </div>
        <div class="section-line"></div>

        <!--使い方-->
        <div id="cheat-sheet" class="cheat-sheet-wrapper">
            <CheatSheet />
        </div>
        <div class="section-line"></div>

        <!--チャンネル紹介-->
        <div id="channel" class="channel-wrapper">
            <Channel />
        </div>
        <div class="section-line"></div>

        <!--Discrod使い方-->
        <div id="discord" class="discord-wrapper">
            <Discord />
        </div>
        <div class="section-line"></div>
    </div>
</div>
<div class="container header">
    @Copyright
    <br />
    Ver.@Version
    <br />
    Repository <a href="https://github.com/Nasu-forest/Nasu-forest.github.io"><u>https://github.com/Nasu-forest/Nasu-forest.github.io</u></a>
    <br />
    <br />
</div>

@code {
    private string Version = typeof(Nasu_forest.Pages.Index).Assembly.GetName().Version.ToString();
    private string Copyright = ((System.Reflection.AssemblyCopyrightAttribute[])typeof(Nasu_forest.Pages.Index).Assembly.GetCustomAttributes(typeof(System.Reflection.AssemblyCopyrightAttribute), false))[0].Copyright.ToString();
}