<div class="content">
    <div>
        <div class="section-title">
            <h1><strong>コミュニティ参加方法</strong></h1>
        </div>
        <br />
        <div class="text">
            ナスの森に参加するには、Discordのアカウントが必要です。(無料)<br />
            既にDiscordのアカウントを持っている方は、<a href="https://discord.gg/t7jd6DrUSf" target="_blank" rel="noopener noreferrer"><u>こちら</u></a> から参加してください。<br />
            <br />

            Discordのアカウント作成方法がわからない方は
            <a href="https://support.discord.com/hc/ja/articles/360033931551-%E3%81%AF%E3%81%98%E3%82%81%E3%81%AB"  target="_blank" rel="noopener noreferrer">
            <u>Discord公式サイト</u></a>
            を参照してください。<br/>
            <br/>
            <a href="/discord"><u>ここ</u></a>でDiscordの簡単な使い方を説明しています。
        </div>
    </div>
</div>
