<div class="content">
    <div>
        <div class="section-title">
            <h1><strong>ナスの森ルール</strong></h1>
        </div>
        <br />
        <div class="text">
            <ol>
                <li>
                    マナーを守りましょう
                </li>
                <li>
                    禁止事項
                    <ul>
                        <li>勧誘・ほかのプラットフォームへの誘導</li>
                        <li>誹謗中傷</li>
                        <li>差別発言</li>
                    </ul>
                </li>
                <li>
                    荒らしや上記のルールを守れない方は、管理人の判断で脱退していただきます
                </li>
                <li>
                    積極的に参加してくれると、管理人Nasuが喜びます
                </li>
            </ol>
        </div>
    </div>
</div>
