<div class="content">
    <div>
        <div class="section-title">
            <h1><strong>管理人紹介</strong></h1>
        </div>
        <br />
        <div class="text">
            ナスの森の管理人を紹介します。
            <br />
            <br />
            <ul id="ul-supervisor">
                <li>
                    <img class="img-twitter" src="/img/twitter-nasu.jpg" /> Nasu (<a href="https://twitter.com/nasuFX426" target="_blank" rel="noopener noreferrer">＠nasuFX426</a>)
                    <br />
                    <br />
                </li>
                <li>
                    <img class="img-twitter" src="/img/twitter-k91.jpg" /> K91 (<a href="https://twitter.com/k910815" target="_blank" rel="noopener noreferrer">＠k910815</a>)
                    <br />
                    <br />
                </li>
                <li>
                    <img class="img-twitter" src="/img/twitter-og.jpg" /> OG (<a href="https://twitter.com/OGsanacount" target="_blank" rel="noopener noreferrer">＠OGsanacount</a>)
                    <br />
                    <br />
                </li>

            </ul>
        </div>
    </div>
</div>
